<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- targetSdk-33 이상 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- targetSdk-33 이하 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/title_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone_Recipe"
        tools:targetApi="31">
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".test_______.TestActivity"
            android:exported="false" />
        <activity
            android:name=".TalkingRecipe"
            android:exported="false" />
        <activity
            android:name=".PostViewer"
            android:exported="false" />
        <activity
            android:name=".recipe_create.RecipeCreate"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".recipe_locker.RecipeLocker"
            android:exported="false" />
        <activity
            android:name=".dialog.DeveloperInfo"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- test -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>